header {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: .7;
        background-color: color(background);
        z-index: 1;
    }

    > *:not(video) {
        position: relative;
        z-index: 1;

        .claim {
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
            width: 100%;
            text-align: center;

            @include breakpoint(medium) {
                text-align: left;
            }

            blockquote {
                font-size: clamp(34px, 4vw, 62px);
                line-height: 1.2em;
                font-family: $display-font;
                margin-bottom: .8em;
                display: inline-block;
                font-weight: bold;

                @include breakpoint(huge) {
                    max-width: 600px;
                }
            }

            .btn-container {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                > * {
                    @include breakpoint(giant, max) {
                        flex-grow: 1;
                        text-align: center;
                    }
                }
            }
        }

        img {
            border-top-left-radius: 50px; 
            border-bottom-right-radius: 50px;
        }
    }
}


main {
    .pageWrap {
        .teaser {
            .teaser-container {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;

                .teaser-item {
                    flex-grow: 1;
                    background: color(dark); 
                    padding: 2rem;
                    text-align: center;
                    border-top-left-radius: 25px;
                    border-bottom-right-radius: 25px;

                    i {
                        display: block;
                        margin-bottom: clamp(1rem, 4vw, 2rem);

                        &:before {
                            font-size: clamp(36px, 4vw, 52px);
                        }
                    }
                }
            }
        }

        .second-content {
            @extend .distance;
            @extend .no-distance-bottom;

            .inner-div {
                @include distance(220px);

                &:before {
                    content: '';
                    background-color: color(dark);
                    width: 200vw;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 0;
                    height: 100%;
                    z-index: -1;
                    position: absolute;

                    @include breakpoint(giant) {
                        height: calc(100% - 100px);
                    }

                    @include breakpoint(huge) {
                        height: calc(100% - 200px);
                    }
                }
            }
        }

        .banner {
            background-image: url('/assets/images/layout/banner.webp');
            background-size: cover;
            background-position: center;
            text-align: center;
            @extend .distance;
            @include distance($type: 'margin');

            blockquote {
                @extend h1;
                font-size: clamp(34px, 4vw, 50px);
                line-height: 1.3em;
                margin-bottom: 15px;
            }
        }

        .third-content {
            @extend .distance;
            @extend .no-distance-top;
        }
    }   
}

footer {
    @extend .distance;
    
    .footer-details {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: calc(var(--base-gap));
        align-items: center
    }
}