// Breakpoint
$break: large;

// Basic Styles
$main-font: 'Roboto';
$display-font: 'Patrick Hand';
$icon-font: 'Icomoon'; 

// Colors
$colors: (
  'primary': #ffa928,       // Frisches, modernes Blau für Akzente
  'secondary': #ed8d61,     // Weiches Violett als Zweitakzent
  'medium': #3E4248,        // Neutraler Ton für Text & Icons
  'light': #D5D6D8,         // Helle Schrift auf dunklem Grund
  'dark': #101113,          // Tiefes, aber nicht pures Schwarz
  'alert': #E75A5A,         // Warmes Rot für Warnungen
  'ultralight': #FFFFFF,    // Reines Weiß für starke Kontraste
  'background': mix(#181A1D, #202224, 70%),
  'second-bg': mix(#1F2125, #282A2E, 70%),
  'form': mix(#232529, #2C2E32, 70%),
);

// Base Variables
$base-gap: 18px;
$base-font-size: 18px;
$base-line-height: 28px;
$base-box-shadow: 0px 0px 12px map-get($colors, 'dark'); 
$base-border: 1px solid map-get($colors, 'border');
$base-distance: 140px;
$base-radius: 5px;
 
// Headlines
$h1-size: 46px;
$h2-size: 42px;
$h3-size: 38px;
$h4-size: 32px;
$h5-size: 26px;
$h6-size: 22px;

// Custom Styles
$row-max-width: 1600px;
$max-width: 2560px;
$bar-height: 70px;

// Breakpoint-Variablen
$breakpoint-default:0px;
$breakpoint-tiny:   480px;
$breakpoint-small:  576px;
$breakpoint-medium: 768px; 
$breakpoint-large:  992px;
$breakpoint-giant:  1200px;
$breakpoint-huge:   1360px;
$breakpoint-full:   1500px;
$breakpoint-cut:    1600px;

:root {
    --break-default: #{$breakpoint-default};
    --break-tiny: #{$breakpoint-tiny};
    --break-small: #{$breakpoint-small};
    --break-medium: #{$breakpoint-medium};
    --break-large: #{$breakpoint-large};
    --break-giant: #{$breakpoint-giant};
    --break-huge: #{$breakpoint-huge};
    --break-full: #{$breakpoint-full};
    --break-cut: #{$breakpoint-cut};
    --break-variable: #{$break};
}

// Icomoon
$icons: (
	mail: "\e900", 
	phone: "\e901", 
	brandschutzhelfer: "\e902", 
  feuerloescher: "\e903", 
  ausbildung: "\e904", 
  unterweisung: "\e905",
  arrow: "\e906",
  dropdown: "\e907",
);


$breakpoint-list: (
  default,
  tiny, 
  small, 
  medium, 
  large, 
  giant, 
  huge, 
  full, 
  cut 
);