  // Verwendung des Mixins
  @include font-face-V2(
      $font-name: "Icomoon", 
      $file-name: "icomoon", 
      $types: (ttf), 
      $style: normal,
  );  

// Outfit - Font
@font-face {
  font-display: swap;
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/patrick-hand-v25-latin-regular.woff2') format('woff2'); 
}

/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/roboto-v50-latin-300.woff2') format('woff2');
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/roboto-v50-latin-regular.woff2') format('woff2');
}
/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/roboto-v50-latin-600.woff2') format('woff2');
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/roboto-v50-latin-700.woff2') format('woff2');
}
/* roboto-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/roboto-v50-latin-800.woff2') format('woff2');
}